<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JGUpdater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <JGUpdater.My.MySettings>
            <setting name="JumpGoVersion" serializeAs="String">
                <value>4.3.6.1</value>
            </setting>
            <setting name="RepoURL" serializeAs="String">
                <value>https://github.com/JTechMe/JumpGo-for-Windows</value>
            </setting>
            <setting name="DLURL" serializeAs="String">
                <value>http://jtechme.github.io/jgwinse/</value>
            </setting>
            <setting name="PatchLvl" serializeAs="String">
                <value />
            </setting>
        </JGUpdater.My.MySettings>
    </userSettings>
</configuration>